/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

/* RESET RULES */
img {
  display: block;
  width: 100%;
}

body {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 980px;
}

/* CAROUSEL */
.carousel-showcase {
  padding: 30px 10px 0 10px;
}

#carousel {
  position: relative;
  height: 500px;
}

#carousel .carousel-img.show {
  display: grid;
}

#carousel .carousel-img {
  display: none;
}

#carousel img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  inset: 0;
  transition: 0.3s linear;
}

.arrow {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
}

.arrow.arrow-left {
  left: 10px;
}

.arrow.arrow-right {
  right: 10px;
}

/* grid */
.carousel-img {
  display: grid;
  color: white;
  position: relative;
  height: 100%;
}

.overlay {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 20px;
  text-align: end;
}

.overlay .overlay__title {
  font-size: 33px;
  font-weight: bold;
}

.overlay .overlay__description {
  font-weight: 500;
}

/* CAROUSEL THUMBNAIL */

.thumbnails {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.thumbnails > .thumbnail {
  height: 100%;
  object-fit: cover;
  filter: brightness(10%);
}

.thumbnail.active {
  border: 5px solid #006098;
  filter: brightness(100%);
}

/* buttons CTA */
.buttons {
  text-align: center;
  font-size: 32px;
}

.buttons .container > * {
  cursor: pointer;
  padding: 0 10px;
}

.buttons .container > *:active {
  color: white;
}

/* MEDIA */
@media screen and (max-width: 1024px) {
  .carousel-thumbnails {
    display: none;
  }
}